@import '../../../styles/root';

.content-header {
  width: 100%;
  height: 4.688rem;
  display: flex;
  padding: 0.5rem 0.5rem;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 1rem;

  .input-sort {
    padding: 0.5rem;
    height: $size_input-height;
    width: fit-content;
    font-size: 1rem;
    font-family: inherit;
    border-radius: 1rem;
    border: $control-border_black;
    cursor: pointer;
    box-shadow: 1px 1px 4px #00000040;

    &.hide {
      display: none;
    }
  }

  .homeLink {
    display: none;
    font-size: 1.3rem;
    padding: 0.5rem 0;
    color: $color_main-black;

    &:hover {
      text-decoration: underline;
    }

    &.hide {
      display: block;
    }
  }

  .product-cart {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .cart-count {
      width: 90%;
      text-align: center;
      font-size: 1rem;
      color: $color_main-black;
      border-radius: 1rem;
      background-color: $color_main-yellow;
    }

    .cart {
      width: 3rem;
      height: 2.8rem;
      background: url('../../../assets/svg/cart.svg') center / cover no-repeat;
    }

    @keyframes cart-rotation {
      0% {
        transform: rotate(0deg);
      }
      25% {
        transform: rotate(30deg);
      }
      50% {
        transform: rotate(-30deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }
}
