@import '../../../styles/root';
@import 'nouislider/dist/nouislider.css';

.side-panel {
  display: block;
  padding: 1rem;
  flex: 0 0 17rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 1px 1px 4px #00000040;
  border-radius: 1rem;

  &.hide {
    display: none;
  }

  .filter {
    padding: 0.5rem;
    height: $size_input-height;
    width: 100%;
    font-size: 1rem;
    font-family: inherit;
    border-radius: 1rem;
    border: $control-border_black;
    cursor: pointer;
    box-shadow: 1px 1px 4px #00000040;

    &:not([data-option^='select ']) {
      color: $color_main-white;
      background-color: $color_main-black;
    }
  }

  .range-container {
    width: 100%;
    height: fit-content;
    margin: 0.5rem 0;

    .range-label {
      margin-bottom: 3rem;
      font-family: inherit;
      font-size: 1rem;
      color: $color_main-black;
      text-align: center;
      text-transform: capitalize;
    }

    .range {
      &.noUi-target {
        margin: 0 auto;
        width: 75%;
        font-size: 1rem;
      }
      .noUi-connect {
        background-color: $color_main-black;
      }
    }
  }

  .reset-btn {
    margin-top: 1rem;
    width: 100%;
    height: $size_input-height;
    font-size: 1rem;
    background-color: $color_main-black;
    color: $color_main-white;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px #00000040;

    &:hover {
      color: $color_title-orange;
    }

    &:active {
      transform: translateY(2px);
      box-shadow: none;
    }
  }
}
